<link rel="stylesheet" href="/css/footer-styles.css">
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Backend by Adwait Kulkarni</p>
  </div>
</div>
</body>
</html>

<!-- <div class="footer">
    <p>Copyright &copy; 2022</p>
</div>
</body>
</html> -->